.alt-header {
    background-color: #30ba67;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.alt-heading {
    font-size: 30px;
    margin: 0;
    margin-top: 15px;
}

.user-profile {
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
}
