.alt-header {
    background-color: #30ba67;
    height: 15vh;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.alt-heading {
    font-size: 30px;
    margin: 0;
}
.profile-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
}
.profile-lebel {
    margin-top: 10px;
    color: rgb(24, 11, 129);
    font-weight: 600;
}
