.login,
.Signup {
  position: absolute;
  top: 35vh;
  left: 20vw;
}
.login__form,
.Signup__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  // justify-items: flex-start;
}

.login__email,
.login__password,
.Signup__email,
.Signup__username,
.Signup__password{
  width: 35vw;
  line-height: 1.5;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 3px solid #30ba67;
  transition: all .6s;
}
.login__email:focus,
.login__password:focus,
.Signup__username:focus,
.Signup__email:focus,
.Signup__password:focus{
  width: 36vw;
  font-size: 1.2rem;

}

.login__btn,
.Signup__btn{
  margin-top: 5vh;
  width: 30vw;
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: #30ba67;
  color: white;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}
.login__btn:hover,
.Signup__btn:hover{
  background: #2ac468;
}
.userAlertMsg {
  color: rgb(163, 49, 78);
  font-size: .9rem;
  font-weight: 500;
}
.green-text {
  color: green;
}
.logout {
  cursor: pointer;
}