.update__container {
  width: 50%;
  margin: 0 auto;
}

.update__field {
  padding: 0.5rem 1rem; 
}

.update__form {
  margin-top: 20px;
  textarea {
    resize: none;
  }
}

.update__field{
  border: none;
  border: 0.5px solid #D3D3D3;
  outline: none; 
  border-radius: none;
  font-size: 13px;
  color: #20345d;
  padding: 15px;
}
.update__field:focus {
  outline: none;
  font-size: 13px;
}

// .update__btn {
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

.update__header {
  font-size: 2rem;
  color: #20345d;
}