.update__container {
  width: 50%;
  margin: 0 auto;
}

.update__field {
  padding: 0.5rem 1rem; 
}

.update__form {
  textarea {
    resize: none;
  }
}

.update__field{
  border: none;
  border-bottom: 3px solid #30ba67;
  outline: none; 
  border-radius: none;
}
.update__field:focus {
  outline: none;
}

.update__btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update__header {
  font-size: 2rem;
}