// Profile SCSS
.profile__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
}

.profile__img-container {
  align-self: center;
}

.profile__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile__name {
  font-size: 1.8rem;
  font-weight: 300;
  color : $color5;
}

.profile__first-name {
  font-weight: 400;
}

.profile__box {
  border-radius: 3px;
  width: 100%;
  background: $color4;
  padding: auto 1rem;
  box-shadow: 9px 7px 15px 1px #827f7f;
}

.profile__header {
  font-size: 2rem;
  font-weight: 300;
}

.profile__detail {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.profile__list-container {
  margin: 2rem;
  border-radius: 5px;
}

.profile__list-header {
  font-size: 1.8rem;
}

.profile__block-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 1rem;
}

.profile__block {
  background: #fff;
  border-radius: 3px;
  font-size: 1.3rem;
  box-shadow: 9px 6px 15px 2px #737272c2;
  &:hover {
    box-shadow: 3px 3px 6px 2px  #737272c2;
  }
  a {
    color: $color5;
    display: block;
    padding: 0.5rem 0;
  }
}
.gridcells {
  box-sizing: border-box;
  border: 1px solid #fff;
  display: inline-block;
  height: 24px;
  width: 24.88px;
  margin: 0;
  padding: 0;
  background: rgb(214, 204, 204);
}
.grid {
  margin: 0;
  padding: 0;
}
.green {
  background: green;
}